button {
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}

#setup-configuration {
    height: auto;
}

.tabs > * {
    flex: 1 1 auto;
}

body{
    direction: rtl;
}

* {
    unicode-bidi: plaintext;
}